* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 540px 200px 100px;

}

header {
    background: green;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    z-index: 999; 
}

.hero {
    background: red;
    grid-row: 1;
    position: relative;
}

.sub-hero {
    background: yellow;
    display: flex;
}

footer {
    background: blue;
}

/* =========================================
    Sub-Hero
=============================================
*/

.advert {
    flex: 1;
    background: purple;
    margin: 2px;
}